@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#church-logo {
    width: 18em;
    margin-left: 8em;
}
/*.church-logo {
    margin-left: 8em;
}*/
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 1em;
}
.navbar {
    display: flex;
    list-style-type: none;
    margin-right: 8em;
    margin-top: 3em;
}
#hamburger-icon {
    display: none !important;
}

li {
    padding: .5em;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    color: grey;
}
.first-section {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}
.section1-content{
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin-top: 6em;
    text-align: left;
}
.section1-sec {
    font-family: 'Lato', sans-serif;
}
.main-pics {
    width: 40em;
    margin-left: 10em;
    margin-right: 10em;
}
.section1-head {
    color: #e49c3f
}
.section1-location{
    display: flex;
    margin: 0;
}
.section1-phone {
    margin: 0;
}
.location-content {
    margin: .1em;
}
.phone-content{
    margin: .1em;
    
}
.email-content{
    margin: .1em;
    
}
h3 {
    font-family: 'Lato', sans-serif;
}
h4 {
    padding-top: .4em;
}


.main-pics {
    display: none;
}
/*.images {
    width: 100%;
}*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .first-section h1 {
    font-size: 4em;
  }
  .first-section h1 {
    font-size: 4em;
  }

/* Media Queries */
@media (max-width: 768px) {
    .header {
        display: block;
        margin:auto;
    }
    #church-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    .navbar {
        display: none;
    }
    .main-pics {
        width: 20em;
        margin: auto;
    }
    .first-section {
        display: block;
    }
    .section1-content{
        text-align: center;
    }
    .location-content {
        margin: auto;
    }
    }

    @media (min-width : 768px) 
    and (max-width : 1024px) {
        .main-pics {
            width: 30em;
            /*margin: auto;*/
        }
        .first-section {
            transform: scale(.85);
            margin-top: 0;
        }
        .first-section h1 {
            font-size: 2em;
        }
        .section1-content {
            font-family: 'Raleway', sans-serif;
            color: grey;
            margin-top: 0;
            text-align: left;
        }
        .main-pics {
            margin-right: 3rem;
        }
    }

    @media (min-width : 1024px) 
    and (max-width : 1280px) {
        .first-section {
            transform: scale(.85);
            margin-top: 0;
        }
        .main-pics {
            margin-right: 5rem;
            transform: scale(.75);
            margin-right: 1rem;
        }
    }

    @media (min-width : 1280px) 
    and (max-width : 1920px) {
        .first-section {
            transform: scale(.85);
            margin-top: 0;
        }
    }