@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
/*.header {background-color: rgba(242,237,214,.5)}*/
html {
    scroll-behavior: smooth;
}
.nav-link {
    /*font-family: 'Lato', sans-serif;*/
}

.carousel-item {
    height: 65%;
    width: 5em;
    margin: auto;
}

.fab{color: grey /*#e47e4c*/;}
.fas{margin: auto;}


.visit {
    background-color: lightgrey;
    height: 20em;
}
.sermons{
    background-color: #e47e4c;
    height: 35em;
    margin-top: 1em;
}
.sermons-main {
    font-family: 'Great Vibes', cursive; color:  white;  text-align: center;
}
.sermons-secondary{
    font-family: 'Ledger', serif;
    color: white;
    text-align: center;
}
.contact {
    margin-top: 1em;
    height: 25em;
    background-color: lightgrey;
}

.location {
    margin: auto;
}
.location-flex {
    display:flex;
    justify-content: center;
}
.big-text {
    margin-top: 0em;
}

.carousel {
    margin: auto !important;
    padding-top: 3em;
}
#visit-anchor {
    margin-top: 2em;
}

.church-column {
    margin-top: 3em !important;
    text-align: center;
    /*color: rgb(105, 105, 105);*/
    color: white;
    font-family: 'Ledger', serif;
}

p {
    line-height: .4em;
}

footer {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    background-color: #e47e4c;
    height: 3em;
    /*margin-top: 5em;*/
}
.footer-text {
    
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .6em;
}

.join-text{font-family: 'Great Vibes', cursive; color:  #e47e4c;  text-align: center;}

.sundays-text{color: white;/*font-family: 'Roboto', sans-serif;*/font-family: 'Ledger', serif;}

@media only screen and (max-width: 600px) {
    iframe{
        width: 450px;
        height: 275px;
    }

p {
    line-height: .4em;
    font-size: .7em;
}
.big-text{
    margin-top: 0em;
}
}

