@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#church-logo {
    width: 18em;
    margin-left: 8em;
}
/*.church-logo {
    margin-left: 8em;
}*/
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 1em;
}
.navbar {
    display: flex;
    list-style-type: none;
    margin-right: 8em;
    margin-top: 3em;
}
#hamburger-icon {
    display: none !important;
}

li {
    padding: .5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: grey;
}
.first-section {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    padding-bottom: 15rem;
}
.section1-content{
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin-top: 6em;
    text-align: left;
}
.section1-content h4 {
    color: darkred;
}
.section1-sec {
    font-family: 'Lato', sans-serif;
}
.main-pics {
    width: 40em;
    margin-left: 10em;
    margin-right: 10em;
}
.section1-head {
    color: #e49c3f
}
.section1-location{
    display: flex;
    margin: 0;
}
.section1-phone {
    margin: 0;
}
.location-content {
    margin: .1em;
}
.phone-content{
    margin: .1em;
    
}
.email-content{
    margin: .1em;
    
}
h3 {
    font-family: 'Lato', sans-serif;
}
h4 {
    padding-top: .4em;
}


.main-pics {
    display: none;
    /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);*/
}
/*.images {
    width: 100%;
}*/
.people {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    /*border-top-left-radius: 20%;
    border-top-right-radius: 20%;*/
}
.people-text {
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: rgb(99, 97, 97); 
    padding-top: 2rem;
    padding-bottom: 2rem;
    transform: scale(1.1);
    margin-right: 10rem;
}
#praiseteam-img {
    width: 30rem;
    margin-left: 5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
    
}
.people-text h1 {
    color: #d18016;
    font-family: 'Raleway', sans-serif;
}
.missions {
    /*background-color: rgb(245, 172, 88);*/
    background-color: rgb(230, 230, 230);
    background-color: rgb(99, 97, 97); 
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: left;
    font-family: 'Lato', sans-serif;
    /*color: rgb(99, 97, 97);*/
    color: white; 
}
.missions img {
    display: block;
    width: 30rem;
    margin: auto !important;
    /*border-radius: 100%;*/
}
.missions-main {
    padding-bottom: 10rem;
}
.sermons-content h1 {
    margin-top: 0;
}
.flex-img {
    padding-top: 3rem;
    /*margin-left: 23rem;*/
}
.flex-img img {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
}
.flex-text {
    margin-left: 3rem; margin-right: 3rem
}
.missions-text {
    padding-bottom: 2rem;
    display:flex;
    justify-content: center;
}
.youtube-frame {
    padding-bottom: 6rem;
}
.activities {
    background-color: rgb(245, 172, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: right;
}
.activities-content {
    transform: scale(1.25);
    margin-left: 7rem;
    margin-right: 3rem;
}
.activities-img img {
    width: 25rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
}
.activities-img {
    margin-right: 10rem;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .first-section h1 {
    font-size: 4em;
  }
  .first-section h1 {
    font-size: 4em;
  }

/* Media Queries */
@media (max-width: 768px) {
    .header {
        display: block;
        margin:auto;
    }
    #church-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    .navbar {
        display: none;
    }
    .main-pics {
        width: 20em;
        margin: auto;
    }
    .first-section {
       display: block;
       padding-bottom: 4rem;
    }
    .section1-content {
        text-align: center;
    }
    .section1-content h3 {
        line-height: .75rem;
    }
    .section1-content h1 {
        line-height: 4rem;
    }
    .location-content {
        margin: auto;
    }
    }

    @media (min-width : 768px) 
    and (max-width : 1023px) {
        .main-pics {
            width: 25em;
            /*margin: auto;*/
        }
        .first-section {
            transform: scale(.85);
            margin-top: 0;
        }
        .first-section h1 {
            font-size: 2em;
        }
        .section1-content {
            font-family: 'Raleway', sans-serif;
            color: grey;
            margin-top: 0;
            text-align: left;
        }
        .main-pics {
            margin-right: 3rem;
        }
        .section1-email  {
            text-align: left;
        }
    }

    @media (min-width : 1024px) 
    and (max-width : 1280px) {
        .first-section {
            transform: scale(.85);
            margin-top: -4rem;
        }
        .main-pics {
            margin-right: 3rem;
            margin-left: 3rem;
            transform: scale(.75);
            
        }
    }

    @media (min-width : 1280px) 
    and (max-width : 1920px) {
        .first-section {
            transform: scale(.90);
            margin-top: 0;
        }
    }